#app {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  padding: 20px 0 20px 0;
}

.form-group {
  padding: 10px 0;
}

div.alert-danger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeIcon {
  transition: all .2s ease-in-out;
}

.closeIcon:hover {
  transform: scale(1.5);
}

.nav-tabs {
  border-bottom: 2px solid #0080FF;
}

.nav-tabs .nav-item .nav-link {
  color: #0080FF;
  background-color: #d9d7d7;
  border-bottom: 2px solid #0080FF;
}

.nav-tabs .nav-item .nav-link.active {
  color: #FFF;
  background-color: #0080FF;
  font-weight: bold;
}

.tab-content {
  padding: 15px;
}

label {
  font-weight: bold;
}

.tableHeader>svg {
  cursor: pointer;
  /* border: 1px solid gray;
  margin: 1px;
  padding: 1px;
  border-radius: 20%; */
}

.editDeleteCells {
  max-width: 5rem;
}

.editDeleteCard>a {
  margin-right: 5px;
}

.accordion {
  text-align: left
}

.rounded-circle {
  transition: all .2s ease-in-out;
}

.rounded-circle:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 2px black;
}