@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

:root {
  --color-blue: #0080FF;
  --light-gray: #D9D7D7;
  --black-opacity: rgba(0,0,0,0.09);
  --url-white-bkgrd: url("https://i.imgur.com/zF8fZ5k.jpg");
  --url-black-bkgrd: url("https://i.imgur.com/nK3V6T8.jpg");
}

body {
  background-image: var(--url-white-bkgrd);
  font-family: 'Roboto Condensed', sans-serif;

}

.fiveTwentyFourContainer,
.loyaltyContainer {
  max-width: 1000px;
  margin: 0 auto;
}

.navContainer {
  background-color: var(--color-blue);
  padding: 0;
  margin-bottom: 10px;
}

nav {
  padding: 10px 0;
  text-decoration: none;
  color: var(--light-gray);
  display: flex;
  justify-content: center;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 5px 10px;
  border-radius: 10px;
}

a:hover {
  background-color: var(--light-gray);
  color: var(--color-blue);
}

.sectionHeaders{
  display: flex;
  justify-content: space-between;
  background-color: var(--black-opacity);
  padding: 10px;
  border-radius: 10px;
  color: var(--color-blue);
  margin-bottom: 1rem;
}

.labels{
  background-color: var(--black-opacity);
  padding: 5px 5px 5px 10px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  color: black;
  font-weight: bold;
}

.field input, .form-group select {
  border-radius: 0 0 10px 10px;
}

.form-group {
  padding: 10px 0;
}

.form-control {
  border-radius: 0;
}

.radioField {
  background-color: white;
  padding-left: 10px;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgb(222, 226, 230);
}


div.alert-danger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeIcon {
  transition: all .2s ease-in-out;
}

.closeIcon:hover {
  transform: scale(1.5);
}

.nav-tabs .nav-item .nav-link {
  color: var(--color-blue);
  background-color: var(--light-gray);
  border-bottom: 2px solid var(--color-blue);
}

.nav-tabs .nav-item .nav-link.active {
  color: #FFF;
  background-color: var(--color-blue);
  font-weight: bold;
}

.tab-content {
  padding: 15px;
}

.tableHeader>svg {
  cursor: pointer;
}

.editDeleteCells {
  max-width: 5rem;
}

.editDeleteCard>a {
  margin-right: 5px;
}

.accordion {
  text-align: left
}

.rounded-circle {
  transition: all .2s ease-in-out;
}

.rounded-circle:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 2px black;
}

.creditPullColumn * {
  margin-bottom: 0;
}

.cardBodyLabels {
  font-weight: bold;
}

#cardCardContainer {
  display: flex;
  flex-wrap: wrap;
}

#cardCardContainer>* {
  margin: 5px;
}

.editDeleteOnCards {
  float: right;
  padding: 0 5px 10px 0;
}

form {
  max-width: 35rem;
  margin: 0 auto;
}

hr {
  border: none;
  height: 3px;
  background-color: var(--color-blue);
  color: var(--color-blue);
  /* margin: 2px; */
}

.addButton {
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}